<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /visa_f/

    # Allow API calls to resolve to the correct PHP files without needing .php
    RewriteRule ^api/v1/([a-zA-Z0-9_-]+)$ api/v1/$1.php [L]

    # Redirect all other requests to index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]

</IfModule>

# Security: Prevent directory listing

Options -Indexes
